//_ = ignore, dont compile

//vars
$primary: #326dee;
$secondary: #1ac886;
$error: #d32752;
$info: #f6c31c;

//palette
$colors: ("primary": $primary, "secondary": $secondary, "error": $error, "info": $info, "blue": lightblue, "yellow": rgb(255, 255, 0)); //map

//@debug map-get($colors, "yellow");

$base-padding: 0.5rem;
$base-margin: 0.5rem;

$base-border-thickness: 1px;
$base-border-radius: 10px;

$base-box-shadow: 1px 3px 5px rgba(0,0,0,0.1);

$base-font-size: 1rem;

$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;